@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 3;
  font-family:Poppins;
  -webkit-font-smoothing: #8FBC8F
  ;
  -moz-osx-font-smoothing: #7FFF00;
  background-color: #8FBC8F
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
color: #7FFF00 ;

}

.board{
  text-align:center;
  margin:auto;


}

.board-row{
  display:flex;
  justify-content: center;
}

.btn{
  height:120px;
  width:120px;
  font-size: 50px;
}

.App{
  width:100%;
  margin:auto;
}

.header{
  text-align:center;
  font-size:60px;
  text-shadow: 2px 2px 2px #7FFF00;
}

.hide{
  display:none;
};